/* Standard (light mode) */
body {
  background-color: white;
  color: #111;
}

/* Dark mode */
body.dark {
  background-color: #323131;
  color: white;
}

/* Topbar / menu */
body.dark .topbar {
  background-color: #c5272d;
}

/* Burger menu */
body.dark .burger-menu {
  background-color: #c5272d;
}

/* Tekst i menu */
body.dark .menu-icons a,
body.dark .burger-category,
body.dark .burger-account {
  color: black;
}

.icon-light {
  display: inline-block;
}

.icon-dark {
  display: none;
}

body.dark .icon-light {
  display: none;
}

body.dark .icon-dark {
  display: inline-block;
}

body.dark .h3titel {
  color: black;
}
body.dark .description {
  color: rgb(0, 0, 0);
}
body.dark .title {
  color: rgb(0, 0, 0);
}
body {
  background-color: #e9e9e9;
}

main {
  padding: 40px 20px 100px;
}

@font-face {
  font-family: "Estedad";
  src: url("fonts/Estedad-VF.woff2") format("woff2");
  font-weight: 100 900;
}

h1 {
  font-family: "Audiowide", sans-serif;
  font-style: normal;
  font-size: 34px;
  color: #ed1c24;
}

h2 {
  font-family: "oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-size: 30px;
}

h1,
h2 {
  text-transform: uppercase;
}

h3 {
  font-family: "montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 26px;
  font-style: normal;
}

h4 {
  font-family: "oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-size: 20px;
  font-style: normal;
}

p {
  font-family: "Estedad", sans-serif;
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
}
@media (max-width: 768px) {
  body.dark .product {
    color: #111;
  }
  body.dark .stortudvalg {
    color: #ff2a2a;
  }
  body.dark .description {
    color: white;
  }
  body.dark .title {
    color: white;
  }
  body.dark .stortudvalg {
    color: white;
  }
}
