/* Standard (light mode) */
body {
  background-color: white;
  color: #111;
}

/* Dark mode */
body.dark {
  background-color: #323131;
  color: white;
}

/* Topbar / menu */
body.dark .topbar {
  background-color: #c5272d;
}

/* Burger menu */
body.dark .burger-menu {
  background-color: #c5272d;
}

/* Tekst i menu */
body.dark .menu-icons a,
body.dark .burger-category,
body.dark .burger-account {
  color: white;
}

.icon-dark {
  display: none;
}

body.dark .icon-light {
  display: none;
}

body.dark .icon-dark {
  display: inline-block;
}
body.dark .h3titel {
  color: black;
}
